.header{
    background-color:rgba(52, 65, 109, 0.938);
    display: flex;
    
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}
.header{
    font-family: 'Sansita Swashed', cursive;
    font-size: 30px;
    color: #eff8c6;
}
.header img{
    max-height: 150px;
    flex-shrink: 0;
}
.wrapper{
    background-color: darkred;
    display: flex;
    justify-content: center;
    max-width: 960px;
    
    margin: auto;
    padding: 15px;
}
.content{
    flex: 1;
    margin: auto;
}
.content img{
    border: 1px red solid;
    border-radius: 4px;
    
}
.content p{
    flex-wrap: wrap;
    border: rgb(202, 115, 33) 2px solid;
}
.experience{
    background-color: wheat;
    flex-grow: 2;
}


@media (max-width: 1000px){
    .wrapper{
        display: block;
    }
    .content{
        display: flex;
        justify-content: space-evenly;
    }
    .experience{
        padding: 15px;
    }

}