.header{
    background-color:rgba(52, 65, 109, 0.938);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}
.header{
    font-family: 'Sansita Swashed', cursive;
    font-size: 30px;
    color: #eff8c6;
}
.header img{
    max-height: 150px;
}
.wrapper{
    background-color: darkred;
    display: flex;
    justify-content: center;
    max-width: 960px;
    border: blue 5px solid;
    margin: auto;
}
.content{
    flex: 1;
    border: purple 5px solid;
    margin: auto;
}
.content img{
    border: 1px red solid;
    border-radius: 4px;
    max-width: 33.3%;
   
   
}
.content p{
    flex-wrap: wrap;
    border: rgb(202, 115, 33) 5px solid;
    max-width: 33.3%;
    align-items: flex-start;

}
.experience{
    flex: 3;
    background-color: wheat;
    
}

@media (max-width: 1000px){
    .wrapper{
        display: block;
    }
    .content{
        display: flex;
        justify-content: space-evenly;
    }

}